<template>
	<view class="search_wrap">
		<!-- 搜索框 -->
		<home-search :isShow="false" :value="val" @confirm="handleConfirm"></home-search>
		<!-- 热门搜索 -->
		<view class="topSearch">
			<view class="topSearch-tit">
				<text>热门搜索</text>
			</view>
		</view>
		<!-- 搜索历史 -->
		<view class="search-history">
			<view class="search-history-tit">
				<text>搜索历史</text>
				<image src="../../../static/images/icon/clear-his.png" mode=""></image>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				val: ""
			}
		},
		methods: {
			handleConfirm(value) {
				// 1. 跳转到搜索结果页面  搜索页
				uni.navigateTo({
					url: "/searchpkg/pages/searchResult/searchResult?val=" + value
				})
				console.log('搜索页面点击完成');
			}
		}
	}
</script>

<style lang="scss">
	.search_wrap {
		font-size: 12px;
		.topSearch{
			padding: 0 10px;
			margin: 10px 0;
			.topSearch-tit{
				height: 40px;
				display: flex;
				align-items: center;
			}
		}
		.search-history{
			padding: 0 10px;
			.search-history-tit{
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				image{
					width: 13px;
					height: 13px;
				}
			}
		}
	}
</style>
