<template>
	<view>
		<view class='search-top' v-if="isShow" @click="toSearchPage">
			<image src='../../static/images/icon/search.png' class='search-img'></image>
			<text>搜索</text>
		</view>
		<view v-else style="border-bottom: 1px solid #ccc;">
			<uni-search-bar @confirm="search" :value="val" :focus="true"  radius="20" @blur="blur"
				@focus="focus" @input="input" @cancel="cancel" @clear="clear">
				bgColor="#EEEEEE"
			</uni-search-bar>
		</view>
	</view>
</template>

<script>
	export default {
		name: "home-search",
		props: {
			isShow: {
				type: Boolean,
				default: false
			},
			val: {
				type: String,
				default: ""
			},
		},
		data() {
			return {
				searchValue: ''
			};
		},
		methods: {
			// 跳转搜索页面
			toSearchPage() {
				uni.navigateTo({
					url: "../../searchpkg/pages/search/search"
				})
			},
			// 搜索
			search({value}) { // 点击完成
				console.log(value,'res--------');
				this.$emit('confirm',value)
				// 2. 搜索结果页面  点击完成的时候要发请求
			},
			input(res) {
				console.log('----input:', res)
			},
			clear(res) {
				uni.showToast({
					title: 'clear事件，清除值为：' + res.value,
					icon: 'none'
				})
			},
			blur(res) {
				uni.showToast({
					title: 'blur事件，输入值为：' + res.value,
					icon: 'none'
				})
			},
			focus(e) {
				uni.showToast({
					title: 'focus事件，输出值为：' + e.value,
					icon: 'none'
				})
			},
			cancel(res) {
				uni.showToast({
					title: '点击取消，输入值为：' + res.value,
					icon: 'none'
				})
			}
		}
	}
</script>

<style lang="scss">
	.search-top {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #EEEEEE;
		height: 60rpx;
		z-index: 1;
		border-radius: 50rpx;
		width: 92%;
		margin: auto;

		.search-img {
			width: 32rpx;
			height: 32rpx;
			margin-right: 10rpx;
		}
	}
</style>
