<template>
	<view>
		<view class="container">
			<view class="header">
				<image src="/static/images/icon/logo.png"></image>
			</view>
			<view class="content">
				<view>电商平台</view>
				<view>申请获取你的公开信息(昵称，头像等)</view>
			</view>
			<button class="bottom" type="primary" withCredentials="true" @tap="getUserProfile">授权登录</button>
			<!-- 注意，这里要用@tap -->
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			};
		},
		methods: {
			getUserProfile() {
				uni.getUserProfile({
					desc: '登录',
					success: (info) => {
						console.log(info, "info-------------")
						//这里取到的是用户的信息，自己安排自己的业务
						uni.login({
							provider: 'weixin',
							
							success: (res) => {
								
								console.log(res, "youyouyoures")
									//这里获取的是用户的code，用来换取 openid、unionid、session_key 等信息，再将信息丢给后台自己的登录业务就行了
								uni.setStorage({
									"key": "userInfo",
									"data": JSON.stringify(info.userInfo)
								})
								uni.setStorage({
									"key": "userCode", 
									"data": JSON.stringify(res)
								})
							}
						}),

							uni.reLaunch({
								url: "/pages/home/home"
							})
					},
					fail: (err) => {
						console.log(err, "err");
					}
				})
			}
		},
	}
</script>

<style lang="scss" scoped>
	.container {
		width: 100%;
		height: 100%;
		display: flex;
		background-color: #fff;
		flex-direction: column;
	}

	.header {
		border-bottom: 1px solid #eee;
		text-align: center;
		width: 100%;
		height: 300rpx;
		line-height: 450rpx;
	}

	.header image {
		text-align: center;
		width: 200rpx;
		height: 200rpx;
	}

	.content {
		text-align: center;
		font-size: 30rpx;
		line-height: 30px;
	}


	.bottom {
		border-radius: 80rpx;
		margin: 70rpx 50rpx;
		font-size: 35rpx;
	}
</style>