<template>
	<view class="home-swiper">
		<uni-swiper-dot class="uni-swiper-dot-box" @clickItem=clickItem :info="imgList" :current="current" :mode="mode"
			>
			<swiper autoplay='true' duration='1000' class="swiper-box" @change="change">
				<swiper-item v-for="(item, index) in imgList" :key="index">
					<img :src="(item.imgUrl)" alt="">
				</swiper-item>
			</swiper>
		</uni-swiper-dot>
	</view>
</template>

<script>
	export default {
		name: "home-swiper",
		props: {
			"imgList": {
				type: Array,
				default: []
			}
		},
		data() {
			return {
				current: 0,
				mode: 'round',
				dotsStyles: {
					background: "#fff"
				}
			};
		},
		mounted() {},
		methods: {
			change(e) {
				this.current = e.detail.current
			}
		}
	}
</script>

<style lang="scss">
	.home-swiper {
		margin-top: 10px;
		.swiper-box {
			height: 170px;
			swiper-item{
				box-shadow: 5px 5px 15px #ccc;
				img {
					width: 100%;
					height: 100%;
					box-shadow: 5px 5px 15px #ccc;
				}
			}
		}
	}
	
</style>
