<template>
	<view>
		<home-search :isShow="false" :val="val" @confirm="handleConfirm"></home-search>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				val:""
			};
		},
		methods:{
			handleConfirm(){
				console.log('搜索结果页面');
			}
		},
		onLoad(options) {
			console.log(options,'options');
			this.val = options.val;
		}
	}
</script>

<style lang="scss">

</style>
