<template>
	<view class="my_box">
		<view class="personal_information">
			<view class="avatarUrl">
				<open-data type="userAvatarUrl"></open-data>
			</view>
			<view class="user_name">
				<text class="useranme">{{name}}</text>
			</view>
		</view>
		<view class="text-box" scroll-y="true">
			<text class="header_title">{{text}}</text>
			<text class="binding"> 去绑定</text>
		</view>
		<view class="my_oeder">
			<view class="order_header">
				<text>我的订单</text>
				<view class="header_all">
					<text>查看全部</text>
					<img src="../../static/images/icon/more.png" alt="">
				</view>
				
			</view>
			<view class="order_List">
				<view class="List_items">
					<img src="../../static/images/icon/toPay.png">
					<text>待支付</text>
				</view>
				<view class="List_items">
					<img src="../../static/images/icon/toDelivery.png">
					<text>待发货</text>
				</view>
				<view class="List_items">
					<img src="../../static/images/icon/toTake.png">
					<text>待收货</text>
				</view>
				<view class="List_items">
					<img src="../../static/images/icon/toComment.png">
					<text>已完成</text>
				</view>
			</view>
		</view>
		<view class="my_classify">
			<view class="classify_items">
				<img src="../../static/c1.png" alt="">
				<text>我的收藏</text>
			</view>
			<view class="classify_items">
				<img src="../../static/c2.png" alt="">
				<text>我的消息</text>
			</view>
			<view class="classify_items">
				<img src="../../static/c3.png" alt="">
				<text>我的足迹</text>
			</view>
			<view class="classify_items">
				<img src="../../static/c4.png" alt="">
				<text>我的积分</text>
			</view>
		</view>
		<view class="set_list">
			<view class="receiver_address">
				<view class="address_left">
					<img src="../../static/images/icon/myAddr.png"/>
					<text>收货地址</text>
				</view>
				<img src="../../static/images/icon/more.png" alt="">
			</view>
		</view>
	</view>
</template>

<script>
	import {myOrder,shopcar} from '../../api/my.js'
	export default {
		data() {
			return {
				text:'绑定手机号后可查看订单和领取优惠券,',
				name:'名字',
				avatarUrl:'',
			};
		},
		mounted(){
			let flag=true;
			let userInfo= uni.getStorageSync('userInfo');  
			userInfo =  JSON.parse(userInfo)
			// console.log(userInfo,'ppppppppppppp');
			// console.log(this.name,'this.name');
			this.name = userInfo.nickName
			this.avatarUrl = userInfo.avatarUrl
			// console.log(this.avatarUrl,userInfo.avatarUrl,'houhouhou');
			
		},
	}
</script>

<style lang="scss">
	.my_box{
		height: 100%;
		width: 100%;
		background: #efefef;
		.personal_information{
			height: 9rem;
			width: 100%;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			.avatarUrl {
			  overflow: hidden;
			  display: block;
			  width: 5rem;
			  height: 5rem;
			  border-radius: 50%;
			  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
			  margin: 10px auto;
			}
			// .user_name{
			// 	margin-top: -10px;
			// }
		}
		.text-box{
			height: 2rem;
			width: 100%;
			background: #fff;
			padding-left: 10px;
			border-top: 1px solid #efefef;
			display: flex;
			align-items: center;
			text{
				font-size: 12px;
			}
			.binding{
				color: red;
			}
		}
		.my_oeder{
			height: 7rem;
			width: 100%;
			background: #fff;
			margin-top: 0.7rem;
			.order_header{
				height: 2rem;
				width: 100%;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-left: 0.5rem;
				.header_all{
					padding-right: 1rem;
					color: #ccc;
					font-size: 10px;
				}
				img{
					height: 10px;
					width: 10px;
				}
			}
			.order_List{
				height: calc(100% - 2rem);
				width: 100%;
				display: flex;
				justify-content: space-between;
				.List_items{
					height: 100%;
					width: 30%;
					display: flex;
					align-items: center;
					flex-direction: column;
					margin-top: 10px;
					img{
						height: 2rem;
						width: 2rem;
					}
					text{
						margin-top: 5px;
						font-size: 12px;
					}
				}
			}
		}
		.my_classify{
			height: 4rem;
			width: 100%;
			background: #fff;
			margin-top: 0.7rem;
			display: flex;
			// line-height: 80px;
			justify-content: space-between;
			.classify_items{
				height: 100%;
				width: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 0.5rem;
				img{
					height: 1.5rem;
					width: 1.5rem;
				}
				text{
					margin-top: 5px;
					font-size: 13px;
				}
			}
		}
		.set_list{
			width: 100%;
			margin-top: 0.7rem;
			.receiver_address{
				height: 2.2rem;
				width: 100%;
				background: #fff;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.address_left{
					display: flex;
					justify-content: space-between;
					padding-left: 10px;
					img{
						height: 1.5rem;
						width: 1.5rem;
					}
				}
				img{
					height: 1rem;
					width: 1rem;
					padding-right: 10px;
				}
			}
		}
	}
</style>



 