<template>
	<view class="handView">
		<dl class='handDl'>
			<dd><checkbox value="cb" class="handcheckbox" /></dd>
			<dt><img class='handimg' src="https://img.mall4j.com/2019/04/de0edd2aaf2d4d3c8b6c3fdfde738805.jpg" alt=""></dt>
			<dd class='handdd'>
					<text class="chat-custom-text">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</text>
					<view class="handode">
						<text class="handtext">$45</text>
						<view class="handAddLow">
							<p class='shopcarLow'> — </p>
							<input type="text" value="1" disabled class="shopcarinput">
							<uni-icons type="plusempty" size="15" class='shopcarAdd'></uni-icons>
						</view>
					</view>

			</dd>
		</dl>
	
<!-- 脚步 -->
	<div class='handfooter'>
		<p class="handcheckboxAll"><checkbox value="cb"  /> 全选</p>
		<p class='handFooterdel'><span>删除</span></p>
		<p class='handHeji'>合计：<span>￥{{0.00}}</span></p>
		<button class="handFooterButton">结算</button>
	</div>
	</view>
</template>

<script>
	import {prodTagList,indexImgs} from '../../api/shopcar.js'
	export default {
		data() {
			return {
				shopcar:[],
				
			};
		},
		methods:{

		},
		async created() {
		
		const res1= await indexImgs()
		console.log(res1)
		let res=await prodTagList();
		// console.log(res.data.shopCartItemDiscounts[0].shopCartItems,'shop----------------------------')
		},
		mounted() {

		}
		
		
	}
</script>

<style lang="scss" scoped>
.handView{
	width: 100%;
	position: relative;
}
.handDl{
	width: 100%;
	height: 80px;
	background: #ffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.handcheckbox{
	border-radius: 50rpx;
}
.handimg{
	width: 70px;
	height: 70px;
}

.handuni-list{
	width: 80%;
}


.handdd{flex: 1;height: 80px;padding-left: 5px;}
.chat-custom-text {
	font-size: 12px;
	color: #999;
	text-align: left;
	margin-top: 20px;
	
}
.handode{
	width: 532rpx;
	height: 25px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	
}
.handAddLow{
	width: 70px;
	height: 25px;
	display: flex;
}
.shopcarLow{
	width:20px;
	height:22px;
	font-size: 12px;
	border: 1px solid #ccc;
	line-height: 20px;
	text-align: center;
}
.shopcarAdd{
	width: 20px;
	border: 1px solid #ccc;
	text-align: center;
}
.shopcarinput{
	width: 20px;
	height: 19px;
	border: 1px solid #ccc;
	text-align: center;
	padding-left: 2rpx;
	font-weight: 100;
	font-size: 12px
}
.handtext{
	color: #eb2444;
	font-size: 12px;
	
}
.handfooter{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
}
.handFooterButton{
	width: 250rpx;
	height: 40px;
	background-color:  #eb2444;
	color: #fff;
	line-height: 40px;
	font-size: 14px;
}
.handcheckboxAll{
	width: 200rpx;
	font-size: 12px;
	text-align: center;
}

.handFooterdel{
	width: 100rpx;
	color: #eb2444;
	font-size: 12px;
}
.handHeji{
	width: 200rpx;
	font-size: 12px;
}
.handHeji span{
	color: #ea3351;
}
</style>
