<template>
	<view class="home-navBox">
		<view class="home-nav">
			<view v-for="(item,index) in navList" :key="index" class="home-nav-item">
				<image src="../../static/images/icon/everydaySale.png"></image>
				<text>{{item.title}}</text>
			</view>
		</view>

	</view>
</template>

<script>
	export default {
		name: "home-nav",
		data() {
			return {
				navList: [{
						title: "新品推荐",
						icon: "@/static/images/icon/everydaySale.png",
					},
					{
						title: "限时特惠",
						icon: "@/static/images/icon/everydaySale.png",
					},
					{
						title: "优惠团购",
						icon: "@/static/images/icon/everydaySale.png",
					},
					{
						title: "秒杀专场",
						icon: "@/static/images/icon/everydaySale.png",
					},
					{
						title: "领卷中心",
						icon: "@/static/images/icon/everydaySale.png",
					},
				]
			};
		}
	}
</script>

<style lang="scss">
	.home-navBox {
		margin-top: 20px;
		font-size: 12px;

		.home-nav {
			display: flex;
			align-items: center;
			height: 60px;
			.home-nav-item {
				height: 100%;
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				image {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
</style>
