<template>
	<view class="container">
		<!-- 头部搜索跳转模块 -->
		<home-search :isShow="isShow"></home-search>
		<!-- 轮播图模块 -->
		<home-swiper :imgList="imgList"></home-swiper>
		<!-- nav导航模块 -->
		<home-nav></home-nav>
		<!-- 通知模块文字轮播模块 -->
		<view class="home-textSwiper">
			<image src="../../static/images/icon/horn.png" mode="" class="textSwiper-image"></image>
			<swiper vertical='true' autoplay='true' duration='1000' class="textSwiper-swiper" @change="change">
				<swiper-item v-for="(item, index) in noticeList" :key="item.id" class="swiper-item">
					{{item.title}}
				</swiper-item>
			</swiper>
			<uni-icons type="right" size="15"></uni-icons>
		</view>
		<!-- 列表数据 -->
		<home-content :prodTagList="prodTagList"></home-content>


	</view>
</template>

<script>
	import {
		getIndexImgs,
		getTopNoticeList,
		getProdTagList
	} from '../../api/home.js'
	export default {
		data() {
			return {
				imgList: [],
				noticeList: [],
				prodTagList:[],
				isShow:true,
			}
		},
		async created() {
			let res = await getIndexImgs({
				url: "/indexImgs"
			});
			this.imgList = res.data;
			let res1 = await getTopNoticeList({
				url: "/shop/notice/topNoticeList"
			});
			this.noticeList = res1.data;
			let res2 = await getProdTagList({
				url: "/prod/tag/prodTagList"
			});
			this.prodTagList = res2.data;

		},
		mounted() {},
		methods: {},

	}
</script>

<style lang="scss">
	.container {
		padding: 0 10px;
		font-size: 12px;

		.home-textSwiper {
			margin-top: 10px;
			height: 38px;
			display: flex;
			align-items: center;

			.textSwiper-image {
				width: 77rpx;
				height: 36rpx;
			}

			.textSwiper-swiper {
				flex: 1;
				height: 100%;
				line-height: 38px;

				.swiper-item {
					height: 100%;
					font-weight: 800;
				}
			}
		}

	}
</style>
