<template>
	<view class="home-contentWrap">
		<view v-for="(item,index) in prodTagList" :key="item.id">
			<!-- 每日更新 -->
			<view class="content-dailyUpdate" v-if="item.style == 2">
				<view class="content-dailyUpdate-tit">
					<text>{{item.title}}</text>
					<text>查看更多</text>
				</view>
			</view>
			<!-- 商城热卖 -->
			<view class="content-dailyUpdate" v-if="item.style == 1">
				<view class="content-shopMall-tit">
					<text>{{item.title}}</text>
					<text>更多</text>
				</view>
			</view>
			<!-- 更多宝贝 -->
			<view class="content-dailyUpdate" v-if="item.style == 0">
				<view class="content-dailyUpdate-tit">
					<text>{{item.title}}</text>
				</view>
			</view>

		</view>
	</view>
</template>

<script>
	export default {
		name: "home-content",
		props: {
			prodTagList: {
				type: Array,
				default: []
			}
		},
		data() {
			return {

			};
		}
	}
</script>

<style lang="scss">
	.home-contentWrap{
		margin-top: 10px;
		.content-dailyUpdate-tit{
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text:nth-child(1){
					font-size: 14px;
			}
		}
		.content-shopMall-tit{
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text:nth-child(1){
					font-size: 14px;
			}
		}
	}

</style>
