<template>
	<view class="detail">
		<div class='one'>
			<!-- 轮播图 -->
			<uni-swiper-dot class="uni-swiper-dot-box" @clickItem=clickItem :info="info" :current="current"
				:mode="mode">
				<swiper class="swiper-box" @change="change">
					<swiper-item>
						<img :src="detailList.pic" alt="">
					</swiper-item>
				</swiper>
			</uni-swiper-dot>
			<div class='title'>
				<p>{{detailList.prodName}}</p>
				<span>|</span>
				<span>收藏</span>
			</div>
			<div class='txt'>
				<p>{{detailList.brief}}</p>
				<p><span>￥</span>{{detailList.price}}</p>
			</div>
		</div>
		<!-- 已选 -->
		<div class='two'>
			<div>已选</div>
			<div>12344444</div>
			<div>
				<uni-icons type="more-filled" size="18" color= #A1A1A1></uni-icons>
			</div>
		</div>
		<div class="three"></div>
		<!-- 点击添加购物车 -->
		<view class="uni-container">
			<!-- <uni-goods-nav @click="onClick" /> -->
			<uni-goods-nav :options="options" :fill="true" :button-group="buttonGroup" @click="onClick"
				@buttonClick="buttonClick" />
		</view>
	</view>
</template>

<script>
	import {prodInfo} from '@/api/detail.js'
	export default {
		data() {
			return {
				detailList: [],
				prodId:'',
				options: [{
						icon: 'chat',
						text: '客服'
					},
					{
						icon: 'cart',
						text: '购物车',
						info: 2
					}
				],
				buttonGroup: [{
						text: '加入购物车',
						backgroundColor: 'linear-gradient(90deg, #FFCD1E, #FF8A18)',
						color: '#fff'
					},
					{
						text: '立即购买',
						backgroundColor: 'linear-gradient(90deg, #FE6035, #EF1224)',
						color: '#fff'
					}
				],
				customButtonGroup: [{
						text: '加入购物车',
						backgroundColor: 'linear-gradient(90deg, #1E83FF, #0053B8)',
						color: '#fff'
					},
					{
						text: '立即购买',
						backgroundColor: 'linear-gradient(90deg, #60F3FF, #088FEB)',
						color: '#fff'
					}
				],
				customButtonGroup1: [{
					text: '立即购买',
					backgroundColor: 'linear-gradient(90deg, #FE6035, #EF1224)',
					color: '#fff'
				}]
			};
		},
		onLoad() {},
		mounted() {
			
		},
		methods: {
			// 获取拿来的数据
			onLoad(option) {
				// const item = JSON.parse(decodeURIComponent(option.item));
				// this.detailList = item;
				// this.prodId=option.prodId;
				//--
				uni.request({
					url: "https://bjwz.bwie.com/mall4j/prod/prodInfo?prodId="+option.prodId,
				}).then((res) => {
					console.log(res[1].data,'111')
					this.detailList = res[1].data;
				})
			},
			change(e) {
				this.current = e.detail.current
			},
			//底部购物车
			onClick(e) {
				uni.showToast({
					title: `点击${e.content.text}`,
					icon: 'none'
				})
			},
			buttonClick(e) {
				// console.log(e)
				this.options[2].info++
			},
		},
	}
</script>

<style lang="scss" scoped>
	.one {
		background-color: #fff;

		.swiper-box {
			height: 375px;

			swiper-item {
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.title {
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
			padding: 0 10px;

			p {
				width: 75%;
			}

			span:nth-of-type(1) {
				margin-right: 20px;
			}
		}

		.txt {
			width: 100%;
			height: 70px;
			padding: 0 10px;

			p:nth-of-type(1) {
				width: 100%;
				height: 20px;
				font-size: 12px;
				color: #A1A1A1;
			}

			p:nth-of-type(2) {
				width: 100%;
				height: 50px;
				font-size: 22px;
				line-height: 50px;
				color: red;
				padding-left: 5px;
				span {
					font-size: 15px
				}
			}
		}
	}

	.two {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		background-color: #fff;
		display: flex;
		align-items: center;
		padding: 0 10px;
		margin-bottom: 10px;
		div:nth-of-type(1) {
			width: 10%;
			height: 100%;
			// text-align: center;
			line-height: 40px;
			font-size: 11px;
			color: #A1A1A1;
		}

		div:nth-of-type(2) {
			width: 70%;
			height: 100%;
			background-color: skyblue;
			line-height: 40px;
		}

		div:nth-of-type(3) {
			width: 20%;
			height: 100%;
			text-align: center;
			line-height: 40px;
		}
	}

	.three {
		width: 100%;
		height: 400px;
		background-color: antiquewhite;
	}

	.uni-container {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
	}
</style>
