<template>
	<view>
		<!-- 直播数据渲染 -->
		<!-- <dl v-for="item,index in list" :key="index">
			<dt>
				<img :src="item.cover_img" alt="">
			</dt>
			<dd>123</dd>
		</dl> -->
		<div v-for="item in lists" :key="item.prodId">
			<p @click='todetail(item.prodId,item)'>{{item.prodId}}</p>
		</div>
	</view>
</template>

<script>
	// import {request}  from '@/utils/httprequest.js';
	export default {
		data() {
			return {
				// list:[],
				lists: []
			};
		},
		mounted() {
			// uni.request({
			// 	url:"https://sign.jasonandjay.com/broadcast/room",
			// 	data:{},
			// }).then((res)=>{
			// 	console.log(res[1].data.data.room_info,'直播数据');
			// 	// this.list=res[1].data.data.room_info;
			// }),
			uni.request({
				url: "https://bjwz.bwie.com/mall4j/prod/prodListByTagId?tagId=1&size=6",
			}).then((res) => {
				console.log(res[1].data.records)
				this.lists = res[1].data.records
			})
		},
		methods: {
			todetail(prodId,item) {
				// console.log(prodId,item, '123');
				uni.navigateTo({
					// url:'../../detailpkg/pages/detail/detail?prodId='+prodId
					url:`../../detailpkg/pages/detail/detail?prodId=${prodId}&item=${encodeURIComponent(JSON.stringify(item))}`
				})
			}
		},
	}
</script>

<style lang="scss">

</style>
